.accept{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg);
    text-align: center;
    width: 400px;
    height: 200px;
    border-radius: 6px;
    display: none;
}
.active{
    display: block;
}
.accept h3{
    line-height: 200px;
}
.accept i{
    color: var(--main);
}
.heart{
    top: 0;
    position: fixed;
    font-size: 25px;
    animation: fall 2s 1 linear forwards ;
  }
  @keyframes fall{
    0%{
      transform: translateY(-5vh);
    }
    100%{
      transform: translateY(110vh);
    }
  }
  .nopro{
   text-align: center;
  font-size: 25px;
  }